<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    
<div id="app">
<!-- {{pokemon}}
{{hint}} -->

<div class="kana">
    <div :style="kanaStyle(kana)" :class="{boederless:kana=='　'}" v-for="kana in kanas">{{kana}}</div>
</div><!-- /.kana -->
<!-- {{eatKana}}<br>
{{biteKana}}<br>
{{noneKana}}<br> -->

<form @submit.prevent="onSubmit">
    <input type="text" v-model="answer">
    <!-- answer:{{answer}}
    histories:{{histories}} -->
</form>
<button @click="init">新しいワード</button>

<ul class="histories">
    <li v-for="(history,index) in histories" :key="index">
        <div :style="style(history.states[index])" :key="index" v-for="(spell,index) in history.pokemon">{{spell}}</div>
    </li>
</ul>

<!-- <p v-for="hoge in comhoge">{{hoge}}:{{hoge.length}}</p> -->
</div><!-- /#app -->


    <script src="js/main.js"></script>
</body>
</html>